#root {
  text-align: center;
  padding-top: 2rem;
}

* {
    text-align: center;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 777px;
    background-color: #D76F3011;
    padding: 1rem;
    border: 1px solid #de593522;
    border-radius: 5%;
}

body {
    background-color: #172D13;
    display: flex;
    justify-content: center;
    color: white;
    padding: 1rem;
}

.gamePanel {
    max-width: 777px;
    padding: 1rem;
}

.pageTitle {
    font-size: 3rem;
    color: #6BB77B;
    margin: 0;
}

.pageSubtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.infoItem {
    list-style-type: none;
    font-size: 1.4rem;
}

.countryDisplay {
    font-size: 1.8rem;
}

#countryNameDisplay {
    font-size: 3.3rem;
    color: rgb(115, 255, 0);
}

#flag {
    width: 127px;
}

.buttonDiv {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #D76F30 !important;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #73a24e;
  }
  button:focus,
  button:focus-visible {
    transform: scale(.95);
  }

.nextCountryDiv {
    display: flex;
    justify-content: center;
    
}

#nextCountryBtn {
    font-size: 2rem;
    margin-bottom: 1rem;
    background-color: red !important;
    animation: growShrink 2s ease-in-out infinite;
}

#currentStreakDisplay {
    font-size: 1.3rem;
}

#currentStreakDisplay {
    animation: growShrink 3s ease-in-out infinite;
  }
  
  @keyframes growShrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  