@font-face {
    font-family: 'CustomFont';
    src: url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Poltawski+Nowy&display=swap');
}

#root {
    text-align: center;
    padding-top: 5rem;
}

* {
    text-align: center;
    /* font-family: 'Poltawski Nowy', serif; */
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 777px;
    /* background-color: #A7BC5B; */
    padding: 1rem;
    border-radius: 5%;
}

body {
    /* background-color: #172D13; */
    background-color: #212122;
    display: flex;
    justify-content: center;
    color: white;
    padding: 1rem;
}

.gamePanel {
    max-width: 777px;
    padding: 1rem;
}

.pageTitle {
    font-size: 3rem;
    margin: 0;
}

.pageSubtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.infoItem {
    list-style-type: none;
    font-size: 1.4rem;
}

.countryDisplay {
    font-size: 1.8rem;
}

#countryNameDisplay {
    font-size: 3.3rem;
    /* color: red; */
    font-family: 'Bruno Ace', cursive;
}

#flag {
    width: 127px;
}

#flagItem {
    list-style: none;
}

.buttonDiv {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: orange;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
    box-shadow: 1px 1px 1px 1px grey;
}

button:hover {
    transform: scale(1.02);
}

button:focus,
button:focus-visible
button:active
{
    transform: scale(.99);
}

.nextCountryDiv {
    display: flex;
    justify-content: center;

}

#nextCountryBtn {
    font-size: 2rem;
    background-color: green !important;
    /* animation: growShrink 2s ease-in-out infinite; */
    box-shadow: 2px 2px 2px grey;
}

#nextCountryBtn:active {
    transform: scale(0.95);
}

#currentStreakDisplay {
    font-size: 1.3rem;
    margin: 0;
}

#currentStreakDisplay {
    animation: growShrink 1s ease-in-out infinite;
}

.footer {
    margin-top: 9rem;
}

@keyframes growShrink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 576px) {
    #root {
        padding-top: 2rem;
    }

    .pageTitle {
        font-size: 2.2rem;
        font-weight: 900;
    }

    button {
        font-size: .8rem;
    }

    .infoItem {
        font-size: 1.2rem;
    }
  }